@if (book) {
<div class="container mx-auto py-4 max-lg:p-4">
  <h1>{{ book.title }}</h1>
</div>
<div
  class="container mx-auto grid gap-4 grid-cols-1 lg:grid-cols-2 lg:items-center max-lg:px-4 max-lg:pb-4"
>
  <div class="image-container">
    <img [src]="book.imageUrl" [alt]="book.title" />
  </div>
  <div class="details">
    <ul>
      <h1>{{ book.title }}</h1>
      <p>First Published: {{ book.year | date : "mm-dd-yyy" }}</p>
      <p>
        Author: @for (author of book.authors; track $index) {
        {{ author.type }}
        }
      </p>
      <p>Editions: {{ book.editionCount }}</p>
      <p>Number of Pages: {{ book.numberOfPages }}</p>
    </ul>
    <button>add / remove from wishlist</button>
  </div>
</div>
}
